<template>
  <v-content>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <v-card>
            <v-toolbar color="orange" dark>Areas</v-toolbar>
            <v-list v-for="area in areas" :key="area.id" >
              <v-list-tile v-on:click="onClickArea(area)">
                <v-list-tile-content>
                  {{area.id}}
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
          <color-input v-bind:color="backgroundColor" v-model="backgroundColor"></color-input>
          <vue-numeric v-bind:minus="false" v-model="fontSize" v-bind:min="0" v-bind:max="100"></vue-numeric>
          <v-btn v-on:click="createArea" class="md-raised">создать новую area</v-btn>
          <v-btn v-on:click="deleteArea" class="md-raised">удалить area</v-btn>
          <v-btn v-on:click="editArea" class="md-raised">изменить area</v-btn>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AXIOS from '../http-commons'
import ColorInput from '@/components/ColorInput'
import VueNumeric from 'vue-numeric'
export default {
  name: 'Areas',
  data () {
    return {
      areas: [],
      selectedAreaId: 0, // for style
      backgroundColor: '#ffffff',
      fontSize: 0
    }
  },
  components: {
    'color-input': ColorInput,
    'vue-numeric': VueNumeric
  },
  created: function () {
    this.getAllAreas()
  },
  methods: {
    getAllAreas: function () {
      var self = this
      AXIOS.get('area/all').then(function (respond) {
        self.areas = respond.data
        console.log('areas: getAllAreas called')
        console.log(respond.data)
      })
    },
    onClickArea: function (area) {
      this.$emit('areaOnAreasSelectedEvent', area.id)
      this.selectedAreaId = area.id
      this.backgroundColor = area.hexBackgroundColor
      this.fontSize = area.fontSize
      console.log('areas: areaid activated on:' + this.selectedAreaId)
    },
    createArea: function () {
      var self = this
      AXIOS.post('area/').then(function (respond) {
        self.getAllAreas()
      })
    },
    editArea: function () {
      var self = this
      if (self.selectedAreaId !== 0) {
        if (self.backgroundColor === undefined) {
          self.backgroundColor = '#ffffff'
        }
        var url = 'area/' + self.selectedAreaId +
          '?backgroundcolor=' + self.backgroundColor + '&fontsize=' + self.fontSize
        var urlWithoutHashtag = url.replace('#', '%23')
        console.log(urlWithoutHashtag)
        AXIOS.patch(urlWithoutHashtag).then(function (respond) {
          self.getAllAreas()
          self.$emit('areaOnAreasEditedEvent')
        })
      }
    },
    deleteArea: function () {
      var self = this
      if (self.selectedAreaId !== 0) {
        AXIOS.delete('area/' + self.selectedAreaId).then(function (respond) {
          self.selectedArea = 0
          self.getAllAreas()
          self.$emit('areaOnAreasDeletedEvent')
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
