<template>
  <v-content>
    <div class="input-group color-picker" ref="colorpicker">
      <label>
        <h1>цвет заднего фона</h1>
        <v-text-field class="form-control" v-model="colorValue" @focus="showPicker()" @input="updateFromInput"></v-text-field>
      </label>
      <span class="input-group-addon color-picker-container">
        <span class="current-color" :style="'background-color: ' + colorValue" @click="togglePicker()"></span>
        <chrome-picker :value="colors" @input="updateFromPicker" v-if="displayPicker" :disableAlpha="true" :disableFields="true"/>
      </span>
    </div>
  </v-content>
</template>

<script>
import {Chrome} from 'vue-color'
export default {
  name: 'ColorInput',
  components: {
    'chrome-picker': Chrome
  },
  props: ['color'],
  data () {
    return {
      colors: {
        hex: '#ffffff'
      },
      colorValue: '#ffffff',
      displayPicker: false
    }
  },
  mounted () {
    this.setColor(this.color || '#ffffff')
  },
  methods: {
    setColor (color) {
      this.updateColors(color)
      this.colorValue = color
    },
    updateColors (color) {
      if (color.slice(0, 1) === '#') {
        this.colors = {
          hex: color
        }
      }
    },
    showPicker () {
      document.addEventListener('click', this.documentClick)
      this.displayPicker = true
    },
    hidePicker () {
      document.removeEventListener('click', this.documentClick)
      this.displayPicker = false
    },
    togglePicker () {
      this.displayPicker ? this.hidePicker() : this.showPicker()
    },
    updateFromInput () {
      var self = this
      this.updateColors(self.colorValue)
    },
    updateFromPicker (color) {
      this.colors = color
      if (color.rgba.a === 1) {
        this.colorValue = color.hex
      }
    },
    documentClick (e) {
      var el = this.$refs.colorpicker,
        target = e.target
      if (el !== target && !el.contains(target)) {
        this.hidePicker()
      }
    }
  },
  watch: {
    color: function () {
      this.setColor(this.color)
    },
    colorValue (val) {
      if (val) {
        this.updateColors(val)
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style scoped>
  h1 {
    height: 120px;
    line-height: 120px;
    text-align: center;
  }
  .vc-chrome {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
  }
  .current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
  }
  .footer {
    margin-top: 20px;
    text-align: center;
  }
</style>
