<template>
  <v-content>
    <v-expansion-panel>
      <v-expansion-panel-content>
        <div class="text-xs-center" slot="header">Загрузить контент на сервер</div>
        <v-card>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex xs2></v-flex>
              <v-flex xs8>
                <v-text-field
                  label="Добавить объявление, отображаемое внизу области"
                  v-model="news"
                  multi-line
                ></v-text-field>
                <v-btn v-on:click="submitNews()" class="md-raised">Submit</v-btn>
                <v-text-field
                  label="Срочное объявление. Перекрывает основной контент"
                  v-model="breakingNews"
                  error
                  multi-line
                ></v-text-field>
                <v-btn v-on:click="submitBreakingNews()" class="md-raised">Submit</v-btn>
                <h1>file upload</h1>
                <div class="container">
                  <label>Files
                    <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
                  </label>
                  <div v-for="(file, key) in files" class="file-listing">{{ file.name }} <span class="remove-file" v-on:click="removeFile( key )">Remove</span></div>
                  <v-btn v-on:click="addFiles()" class="md-raised">Add Files</v-btn>
                  <v-btn v-on:click="submitFiles()" class="md-raised">Submit</v-btn>
                </div>
              </v-flex>
              <v-flex xs2></v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-content>
</template>

<script>
import AXIOS from '../http-commons'
export default {
  name: 'ContentUpload',
  data () {
    return {
      news: '',
      breakingNews: '',
      files: []
    }
  },
  methods: {
    addFiles () {
      this.$refs.files.click()
    },
    submitNews () {
      var self = this
      if (self.news !== '') {
        AXIOS.post('upload/news/', {
          news: self.news
        })
          .then(function (respond) {
            self.$emit('contentUploadedEvent')
            self.news = ''
          })
      }
    },
    submitBreakingNews () {
      var self = this
      AXIOS.post('upload/breakingNews/', {
        breakingNews: self.breakingNews
      })
        .then(function (respond) {
          self.$emit('contentUploadedEvent')
          self.breakingNews = ''
        })
    },
    submitFiles () {
      var self = this
      var formData = new FormData()
      for (var i = 0; i < this.files.length; i++) {
        var file = self.files[i]
        formData.append('files', file)
      }
      AXIOS.post('upload/files/',
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then(function () {
        self.$emit('contentUploadedEvent')
      })
        .catch(function () {
          console.log('upload failure')
        })
    },
    handleFilesUpload () {
      var uploadedFiles = this.$refs.files.files
      for (var i = 0; i < uploadedFiles.length; i++) {
        this.files.push(uploadedFiles[i])
      }
    },
    removeFile (key) {
      this.files.splice(key, 1)
    }
  }
}
</script>

<style scoped>

</style>
