<template>
  <v-content>
      <v-layout row wrap>
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <v-card>
            <v-toolbar color="orange" dark>Content</v-toolbar>
            <v-list  v-for="content in contents" :key="content.id" >
              <v-list-tile v-on:click="selectContent(content.id)">
                <v-list-tile-content class="text-xs-center">
                  {{content.name}}
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
          <v-btn v-on:click="deleteContent" class="md-raised">удалить контент</v-btn>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
  </v-content>
</template>

<script>
import AXIOS from '../http-commons'
export default {
  name: 'Content',
  data () {
    return {
      contents: [],
      selectedContentId: 0,
      news: '',
      breakingNews: '',
      files: []
    }
  },
  created: function () {
    this.getAllContent()
  },
  methods: {
    getAllContent: function () {
      var self = this
      AXIOS.get('content/all').then(function (respond) {
        self.contents = respond.data
      })
    },
    selectContent: function (contentId) {
      this.selectedContentId = contentId
      this.$emit('selectedContentEvent', contentId)
      console.log('content: selected content' + this.selectedContentId)
    },
    deleteContent: function () {
      var self = this
      if (self.selectedContentId !== 0) {
        AXIOS.delete('content/' + self.selectedContentId).then(function (respond) {
          self.selectedContentId = 0
          self.$emit('selectedContentEvent', self.selectedContentId)
          self.getAllContent()
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
