<template>
  <v-content>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs-6>
          <v-btn v-on:click="addContentToPlaylist">добавить в плейлист</v-btn>
          <v-btn v-on:click="deleteSelectedPlaylistRecord"> убрать из плейлиста</v-btn>
          <v-btn v-on:click="moveUpSelectedPlaylistRecord">вверх по очереди</v-btn>
          <v-btn v-on:click="moveDownSelectedPlaylistRecord">вниз по очереди</v-btn></v-flex>
        <v-flex xs-4>
          <v-card>
            <v-toolbar color="orange" dark>Playlist</v-toolbar>
            <v-list v-for="playlistRecord in playlistRecords" :key="playlistRecord.id" >
              <v-list-tile v-on:click="selectPlaylistRecord(playlistRecord)">
                <v-list-tile-content>
                  {{playlistRecord.playNumber}} {{playlistRecord.content.name}} {{playlistRecord.showTime}}
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs-2></v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AXIOS from '../http-commons'
export default {
  name: 'Playlist',
  props: ['areaIdFromMain', 'contentFromMain'],
  data () {
    return {
      playlistRecords: [],
      selectedAreaId: 0,
      selectedPlaylistRecord: null,
      selectedContentId: 0
    }
  },
  watch: {
    areaIdFromMain: function (newAreaId) {
      this.setAreaId(newAreaId)
      this.getPlaylistByAreaId()
    },
    contentFromMain: function (newContent) {
      this.setContent(newContent)
    }
  },
  methods: {
    setAreaId: function (newAreaId) {
      this.selectedAreaId = newAreaId
      console.log('playlist: selectedAreaId activated on:' + this.selectedAreaId)
    },
    setContent: function (newContentId) {
      this.selectedContentId = newContentId
      console.log('playlist: selectedContent activated on:' + this.selectedContentId)
    },
    getPlaylistByAreaId: function () {
      var self = this
      var selectedAreaIdBefore = self.selectedAreaId
      if (self.selectedAreaId !== 0) {
        AXIOS.get('playlist/' + self.selectedAreaId).then(function (respond) {
          if (selectedAreaIdBefore === self.selectedAreaId) {
            self.playlistRecords = respond.data
            console.log('playlist: getPlaylistByAreaId called using selectedAreaId:' + self.selectedAreaId)
            console.log(respond.data)
          } else {
            self.getPlaylistByAreaId()
          }
        })
      } else {
        self.playlistRecords = []
        console.log('playlist: getPlaylistByAreaId called using selectedAreaId:' + self.selectedAreaId)
      }
    },
    selectPlaylistRecord: function (playlistRecord) {
      this.$emit('selectedPlaylistRecordEvent', playlistRecord)
      this.selectedPlaylistRecord = playlistRecord
      console.log('playlist: selected playlist:')
      console.log(this.selectedPlaylistRecord)
    },
    addContentToPlaylist: function () {
      var self = this
      if (self.selectedContent !== 0 && self.selectedAreaId !== 0) {
        AXIOS.post('playlist?contentid=' + self.selectedContentId +
          '&areaid=' + self.selectedAreaId).then(function (respond) {
          self.getPlaylistByAreaId()
          console.log('Playlist: addContentToPlaylist called and got respond')
        })
      }
    },
    deleteSelectedPlaylistRecord: function () {
      var self = this
      if (self.selectedPlaylistRecord !== null) {
        console.log(self.selectedPlaylistRecord)
        AXIOS.delete('playlist/' + self.selectedPlaylistRecord.id).then(function (respond) {
          self.selectedPlaylistRecord = null
          self.getPlaylistByAreaId()
          console.log('playlist: deleteSelectedPlaylistRecord called and got respond')
        })
      }
    },
    moveUpSelectedPlaylistRecord: function () {
      var self = this
      if (self.selectedPlaylistRecord !== null) {
        AXIOS.patch('playlist/' + self.selectedPlaylistRecord.id + '/up').then(function (respond) {
          self.getPlaylistByAreaId()
          console.log('playlist: moveUpSelectedPlaylistRecord called for:')
          console.log(self.selectedPlaylistRecord)
        })
      }
    },
    moveDownSelectedPlaylistRecord: function () {
      var self = this
      if (self.selectedPlaylistRecord !== null) {
        AXIOS.patch('playlist/' + self.selectedPlaylistRecord.id + '/down').then(function (respond) {
          self.getPlaylistByAreaId()
          console.log('playlist: moveDownSelectedPlaylistRecord called for:')
          console.log(self.selectedPlaylistRecord)
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
