<template>
  <v-content>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs-2></v-flex>
        <v-flex xs-8>
          <div class="screen-container">
            <div class="screen" v-for="screen in screens" :key="screen.id" v-on:click="onClickScreen(screen.area.id)"
                 v-bind:style="{'background-color':screen.area.hexBackgroundColor}">
              {{screen.area.id !== 0 ? screen.area.id : ""}}
              <v-select @change="changeArea(screen,$event)"
                        :items="areas" item-text="id"></v-select>
            </div>
          </div>
        </v-flex>
        <v-flex xs-2></v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AXIOS from '../http-commons'
import axios from 'axios'
export default {
  name: 'screens',
  data () {
    return {
      screen: 0,
      defaultArea: null,
      selectedAreaId: 0,
      newSelectedAreaId: undefined,
      screens: [],
      areas: []
    }
  },
  created: function () {
    var self = this
    this.getDefaultArea().then(function () {
      self.getAllScreens()
      self.getAllAreas()
    })
  },
  methods: {
    getDefaultArea: function () { // empty screens should be connected to default area. This function gets default area from server
      var self = this
      return axios.get('http://localhost:8080/area/default').then(function (respond) {
        self.defaultArea = respond.data
        console.log('screens: defaultArea activated on:')
        console.log(self.defaultArea)
      })
    },
    getAllScreens: function () {
      var self = this
      AXIOS.get('screen/all').then(function (respond) {
        self.screens = respond.data
        self.screens.forEach(screen => {
          if (screen.area === null) { // answer from server can be null(screen is not connected to any area), so we need to change null to default area
            screen.area = self.defaultArea
            console.log('screens: screens activated on:')
            console.log(self.screens)
          }
        })
      })
    },
    getAllAreas: function () {
      var self = this
      AXIOS.get('area/all').then(function (respond) {
        self.areas = respond.data
        console.log('screens: areas activated on:')
        console.log(self.areas)
      })
    },
    onClickScreen: function (areaId) {
      this.selectedAreaId = areaId
      this.$emit('areaOnScreensSelectedEvent', this.selectedAreaId)
      console.log('screens: onClickScreen called. areaid:' + areaId)
    },
    changeArea: function (screen, area) {
      var self = this
      var screenId = screen.id
      var areaId = area.id
      this.$emit('areaOnScreensSelectedEvent', this.selectedAreaId)
      AXIOS.patch('screen/' + screenId + '?areaid=' + areaId).then(function (respond) {
        self.getAllScreens()
        self.getAllAreas()
        console.log('screens: change area called')
      })
    }
  }
}
</script>

<style scoped>
  .screen {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    display: flex;
    border: 1px solid black;
  }
  .screen-container {
    width: 205px;
    display: flex;
    flex-wrap: wrap;
  }
</style>
