<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs3>
      </v-flex>
      <v-flex xs6>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="username"
            label="Enter your Username."
            :error-messages="usernameErrors"
            required
          ></v-text-field>
          <v-text-field
            v-model="emailPassword"
            :append-icon="ico ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (ico = !ico)"
            :type="ico ? 'emailPassword' : 'text'"
            label="Enter your emailPassword"
            required
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            @click="submit()"
          >Войти
          </v-btn>
        </v-form>
      </v-flex>
      <v-flex xs3>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Registration',
  data () {
    return {
      valid: true,
      ico: true,
      username: '',
      emailPassword: '',
      usernameErrors: []
    }
  },
  methods: {
    submit () {
      var self = this
      if (self.$refs.form.validate()) {
        axios.post('http://localhost:8080/auth/signin', {
          username: self.username,
          emailPassword: self.emailPassword
        })
          .then(function (respond) {
            const status = JSON.parse(respond.status)
            const body = respond.data
            if (status === 200) {
              localStorage.setItem('authUser', JSON.stringify(body))
              self.$router.push('/administratorgui')
            } else {
              self.usernameErrors = ['user not found']
            }
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
