<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs3>
      </v-flex>
      <v-flex xs6>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="username"
            :rules="usernameRules"
            :counter="15"
            label="Enter your Username."
            :error-messages="usernameErrors"
            required
          ></v-text-field>
          <v-text-field
            v-model="emailPassword"
            :append-icon="ico ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (ico = !ico)"
            :type="ico ? 'emailPassword' : 'text'"
            :rules="passwordRules"
            label="Enter your Password."
            hint="At least 6 characters"
            min="6"
            max="20"
            :counter="20"
            required
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            @click="submit()"
          >Зарегистрироваться
          </v-btn>
        </v-form>
      </v-flex>
      <v-flex xs3>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Registration',
  data () {
    return {
      valid: true,
      usernameAvailability: true,
      ico: true,
      username: '',
      emailPassword: '',
      usernameRules: [
        v => !!v || 'username is required',
        v => (v && v.length >= 3) || 'username must be at least 3 characters',
        v => (v && v.length <= 15) || 'username must be no more than 15 characters'
      ],
      passwordRules: [
        v => !!v || 'emailPassword is required',
        v => (v && v.length >= 6) || 'username must be at least 6 characters',
        v => (v && v.length <= 20) || 'username must be no more than 20 characters'
      ],
      usernameErrors: []
    }
  },
  watch: {
    username (val) {
      var self = this
      axios.get('http://localhost:8080/auth/checkUsernameAvailability?username=' + val)
        .then(function (respond) {
          self.usernameAvailability = respond.data.available
          self.usernameErrors = self.usernameAvailability === true ? [] : ['choose another username']
        })
    }
  },
  methods: {
    submit () {
      var self = this
      if (self.$refs.form.validate()) {
        axios.post('http://localhost:8080/auth/signup', {
          username: self.username,
          emailPassword: self.emailPassword
        })
          .then(function (respond) {
            const status = JSON.parse(respond.status)
            console.log(status)
            if (status === 200) {
              console.log(self.username)
              console.log(self.emailPassword)
              axios.post('http://localhost:8080/auth/signin', {
                username: self.username,
                emailPassword: self.emailPassword
              })
                .then(function (respond) {
                  const status = JSON.parse(respond.status)
                  console.log(status)
                  const body = respond.data
                  if (status === 200) {
                    localStorage.setItem('authUser', JSON.stringify(body))
                    self.$router.push('/administratorgui')
                  }
                })
            }
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
