<template>
  <v-content>
    <v-toolbar>
      <v-btn
        color="orange"
        fab
        dark
        small
        absolute
        bottom
        left
        v-on:click="refresh"
      >
        <v-icon large>refresh</v-icon>
      </v-btn>
      <v-btn
        color="orange"
        fab
        dark
        small
        absolute
        bottom
        right
        v-on:click="logout"
      >
        <v-icon large>power_settings_new</v-icon>
      </v-btn>
    </v-toolbar>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs6>
            <screens v-on:areaOnScreensSelectedEvent="setAreaId" ref="screens"></screens>
          </v-flex>
          <v-flex xs6>
            <areas v-on:areaOnAreasSelectedEvent="setAreaId"
                   v-on:areaOnAreasDeletedEvent="this.refreshScreens"
                   v-on:areaOnAreasEditedEvent="this.refreshScreens"
                   ref="areas"></areas>
          </v-flex>
          <v-flex xs6>
            <content2 v-on:selectedContentEvent="setContent" ref="content"></content2>
          </v-flex>
          <v-flex xs6>
            <playlist :areaIdFromMain="selectedAreaId" :contentFromMain="selectedContentId" ref="playlist"></playlist>
          </v-flex>
          <v-flex xs12>
            <content-upload v-on:contentUploadedEvent="this.refreshContent" ref="contentUpload"></content-upload>
          </v-flex>
        </v-layout>
      </v-container>
  </v-content>
</template>

<script>
import Screens from '../../components/Screens'
import Areas from '../../components/Areas'
import Content from '../../components/Content'
import Playlist from '../../components/Playlist'
import ContentUpload from '../../components/ContentUpload'
export default {
  name: 'administrator-gui',
  components: {
    'screens': Screens,
    'areas': Areas,
    'content2': Content,
    'playlist': Playlist,
    'content-upload': ContentUpload
  },
  data () {
    return {
      selectedAreaId: 0,
      selectedContentId: 0
    }
  },
  computed: {
    screensComponent: function () {
      return this.$refs.screens
    },
    areasComponent: function () {
      return this.$refs.areas
    },
    contentComponent: function () {
      return this.$refs.content
    },
    playlistComponent: function () {
      return this.$refs.playlist
    },
    contentUploadComponent: function () {
      return this.$refs.contentUpload
    }
  },
  methods: {
    setAreaId: function (selectedAreaEvent) {
      this.selectedAreaId = selectedAreaEvent
      console.log('main: areaid activated on:' + this.selectedAreaId)
    },
    setContent: function (selectedContentEvent) {
      this.selectedContentId = selectedContentEvent
      console.log('main: content activated on:' + this.selectedContent)
    },
    refresh: function () {
      this.refreshScreens()
      this.refreshAreas()
      this.refreshContent()
      this.refreshPlaylist()
    },
    refreshScreens: function () {
      this.screensComponent.getAllScreens()
      this.screensComponent.getAllAreas()
    },
    refreshAreas: function () {
      this.areasComponent.getAllAreas()
    },
    refreshContent: function () {
      this.contentComponent.getAllContent()
    },
    refreshPlaylist: function () {
      this.playlistComponent.getPlaylistByAreaId()
    },
    logout: function () {
      window.localStorage.removeItem('authUser')
      this.$router.push('/login')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
