<template>
  <div id="tv">
    <v-app>
      <tv></tv>
    </v-app>
  </div>
</template>

<script>
import Tv from './routecomponents/tv/Tv'
export default {
  name: 'App2',
  components: {
    'tv': Tv,
  },
}
</script>
