<template>
  <div>
    <template v-if="screens.length === 4">
      <div class="grid2x2">
        <div v-for="screen in screens" :key="screen.id" class="box">
            <template v-if="screen.area === null">
              <div class="screen-container" v-bind:style="{'background-color':defaultArea.hexBackgroundColor}"></div>
            </template>
            <template v-else>
              <div :style="{'background-color':screen.area.hexBackgroundColor,
           'font-size':screen.area.fontSize + 'pt' }"
              >
                <div v-html="activeMainContent[screens.indexOf(screen)]">
                </div>
              </div>
            </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'tv',
  data () {
    return {
      screens: [],
      activeAreas: [],
      groupedActivePlaylists: [],
      activated: [],
      activeMainContent: [],
      activeNewsContent: [],
      activeBreakingNewsContent: [],
      defaultArea: {hexBackgroundColor: '#43ff52'},
      defaultContent: '<div>WHERE IS MY CONTENT?!?!?!?!?!</div>',
      interval: ''
    }
  },
  created: function () {
    var self = this
    self.getDefaultArea().then(function () {
      self.getShowConfiguration()
      self.interval = setInterval(function () { self.getShowConfiguration() }, 10000)
    })
  },
  beforeDestroy () {
    var self = this
    clearInterval(self.interval)
  },
  watch: {
    screens: function (val) {
      console.log('watched called')
      var self = this
      var i = 0
      val.forEach(screen => {
        if (self.activated[i] === undefined) {
          self.$set(self.activated, i, false)
        }
        if (self.activated[i] === false) {
          self.$set(self.activated, i, true)
          console.log('start' + screen.id)
          self.start(self.screens.indexOf(screen))
        }
        i++
      })
      i = 0
    }
  },
  methods: {
    getDefaultArea: function () { // empty screens should be connected to default area. This function gets default area from server
      var self = this
      return axios.get('http://localhost:8080/area/default').then(function (respond) {
        self.defaultArea = respond.data
        console.log('screens: defaultArea activated on:')
        console.log(self.defaultArea)
      })
    },
    getShowConfiguration: function () {
      console.log('show')
      var self = this
      axios.get('http://localhost:8080/totv', {
        validateStatus: function (status) {
          return status < 304 // Reject only if the status code is greater than or equal to 304
        }
      })
        .then(function (respond) {
          const status = JSON.parse(respond.status)
          if (status === 304) {
            console.log('unmodified')
          }
          if (status === 200) {
            self.screens = respond.data.screens
            console.log('screens changed')
            self.activeAreas = respond.data.activeAreas
            self.groupedActivePlaylists = respond.data.groupedActivePlaylists
          }
        })
    },
    start: function (screenIndex) {
      var self = this
      var needToReturn = false
      var screen
      var areaPlaylistIndex
      var mainContentList
      var playlistRecord
      var mainContentIndex = 0
      myloop()
      function myloop () {
        check()
        if (needToReturn === true) {
          self.$set(self.activated, screenIndex, false)
          return
        }
        if (playlistRecord !== undefined) {
          updateMainContent(playlistRecord.content)
          setTimeout(function () {
            mainContentIndex >= mainContentList.length - 1 ? mainContentIndex = 0 : mainContentIndex++
            myloop()
          }, playlistRecord.showTime)
        } else { // empty playlist will wait for new records
          clear()
          setTimeout(function () {
            mainContentIndex = 0
            myloop()
          }, 10000)
        }
      }
      function check () {
        screen = self.screens[screenIndex]
        if (screen.area === null) {
          needToReturn = true
          return 'screen area is null'
        } else {
          areaPlaylistIndex = self.indexWhere(self.activeAreas, activeArea => activeArea.id === screen.area.id)
          mainContentList = self.groupedActivePlaylists[areaPlaylistIndex][2]
          playlistRecord = mainContentList[mainContentIndex]
        }
      }
      function updateMainContent (newContent) {
        if (newContent.type === 'picture') {
          self.$set(self.activeMainContent, screenIndex, '<img src="http://localhost:8080/totv/content/' + newContent.id + '" class="b">')
        } else {
          axios.get('http://localhost:8080/totv/content/' + newContent.id)
            .then(function (respond) {
              if (newContent.type === 'email' || newContent.type === 'webContent' || newContent.type === 'appointment') {
                self.$set(self.activeMainContent, screenIndex, '<div>' + respond.data + '</div>')
              }
            })
        }
      }
      function clear () {
        self.$set(self.activeMainContent, screenIndex, '<div></div>')
      }
    },
    indexWhere: function (array, conditionFn) {
      const item = array.find(conditionFn)
      return array.indexOf(item)
    }
  }
}
</script>

<style scoped>
  .grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex;
    flex-basis: calc(50%);
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
</style>
